@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  line-height: 1;
  font-weight: 400;
}

#w3a-modal .w3a-modal__inner {
  max-width: 516px !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 200px;
  background-color: #ced4da;
}
